<div class="contenedorGeneral">
  <div class="contenedorIzquierdo">
    <img
      src="https://cdn.aarp.net/content/dam/aarp/health/doctors_hospitals/2016/05/1140-how-to-choose-the-right-doctor-for-you-esp-.imgcache.rev.web.1000.575.jpg"
      class="imagenDoctor"
    />
    <div class="titulo">
      <div class="barraDecorativa"></div>
      <h1 class="textoAgendar">Agenda citas</h1>
    </div>

    <p class="texto1">
      Un sistema que permite la gestión de citas de especialistas en diferentes
      arreas profesionales.
      <br />
      <br />
      Con la finalidad de facilitar la organización de directorio de citas
    </p>

    <div class="textoDescriptivo">
      <p class="texto2">Puedes controlar:</p>
      <ul class="lista">
        <li>Horarios de los pacientes a atender</li>
        <li>Días de la cita en cuestión</li>
      </ul>

      <p class="texto3">
        Registrate con tu especialidad para darte de alta
        <span>¡Es super sencillo!</span>
      </p>
    </div>
  </div>
  <div class="contenedorDerecho">
    <i class="bi bi-house-door-fill retroceder" routerLink="/home"
      >Directorio</i
    >
    <div class="textosHeader">
      <h1 class="textoLogin">Login</h1>
      <h2 class="mensajeBienvenido">Bienvenido a tu directorio de citas</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="Login()">
      <div class="contenedorForm">
        <input
          type="text"
          formControlName="Email"
          placeholder="Correo electronico"
          class="input"
        />
        <span><i class="bi bi-envelope-at-fill iconoEmail"></i></span>
        <input
          type="password"
          placeholder="Contraseña"
          id="inputPassword"
          class="input"
          formControlName="Password"
        />
        <span
          ><i
            class="bi bi-eye iconoOjo"
            id="mostrarPass"
            (click)="mostrarPassword()"
          ></i></span
        ><span><i class="bi bi-unlock-fill iconoCandado"></i></span>
        <div class="alinearBoton">
          <button class="botonIniciar" (click)="Login()">Iniciar</button>
        </div>
        <h3 class="sugerenciaRegistrar">
          ¿No estas registrado?
          <span routerLink="/registro">¡Registrate ahora!</span>
        </h3>
      </div>
    </form>
  </div>
</div>
