<div class="header">
  <i class="bi bi-house-door-fill retroceder" routerLink="/home"></i>
  <h1 class="nombreApp">Consultas medicas</h1>
</div>

<div class="contenido">
  <div class="separar">
    <div class="izquierdo">
      <div class="contenedorInformacionBasica">
        <h1 class="textoInformacionBasica">Información básica de la cuenta</h1>
        <div class="contenedor1">
          <img
            src="https://www.pngkey.com/png/full/72-729716_user-avatar-png-graphic-free-download-icon.png"
            alt="imagen no encontrada"
            class="fotoPerfil"
          />
          <div>
            <h1>{{ userData.nombre }} {{ userData.apellido }}</h1>
            <h2>{{ userData.email }}</h2>
            <h2 class="pildora">{{ userData.rol.nombreRol }}</h2>
          </div>
        </div>
      </div>

      <div class="menuNavegacion">
        <h1>Menú de navegación</h1>
        <div class="botones">
          <button (click)="confiCuenta()">Configuración de la cuenta</button>
          <button routerLink="/Mis-citas">Mis citas</button>
          <button (click)="mostrarEspecialidadeshtml()">Especialidades</button>
        </div>
        <br />
      </div>

      <button class="botonCerrarSesion" (click)="cerrarsesion()">
        Cerrar sesión <i class="bi bi-door-open"></i>
      </button>
    </div>

    <div
      class="contenedorConfiguracionCuenta"
      *ngIf="contenidoAMostrar === 'Mostrar Especialidades'"
    >
      <div class="derecho">
        <h1>Especialidades</h1>

        <div class="form1">
          <div class="derecho">
            <div *ngFor="let especialidad of especialidadesArray | ObjToArray">
              <div class="card">
                <h2>{{ especialidad.especialidad.nombreEspecialidad }}</h2>
                <!-- Puedes mostrar otros detalles de la especialidad aquí -->
              </div>
            </div>
          </div>
        </div>

        <!-- Botón circular con el símbolo + -->
        <button class="botonCircular">+</button>
      </div>
    </div>

    <div
      class="contenedorConfiguracionCuenta"
      *ngIf="contenidoAMostrar === 'Mostrar Conficuenta'"
    >
      <div class="derecho">
        <div class="contenedorConfiguracionCuenta">
          <h1>Configuración de la cuenta</h1>
          <h3>Los campos que son totalmente requeridos están marcados con *</h3>
          <form [formGroup]="formulario">
            <div class="form1">
              <h1>Nombre:</h1>
              <input type="text" formControlName="Nombre" />
            </div>

            <div class="form1">
              <h1>Apellido:</h1>
              <input type="text" formControlName="Apellido" />
            </div>
            <form [formGroup]="formularioESP">
              <div class="form1">
                <h1>Dirección:</h1>
                <input type="text" formControlName="Direccion" />
              </div>

              <div class="form1">
                <h1>Ciudad:</h1>
                <input type="text" formControlName="Ciudad" />
              </div>

              <div class="form1">
                <h1>País:</h1>
                <input type="text" formControlName="Pais" />
              </div>

              <div class="form1">
                <h1>No. Cédula:</h1>
                <input type="text" formControlName="noCedula" />
              </div>

              <div class="form2">
                <h1>Descripción:</h1>
                <textarea
                  class="form2"
                  rows="5"
                  formControlName="Descripcion"
                  placeholder="Descripcion"
                ></textarea>
              </div>
            </form>
            <div class="separador">
              <form [formGroup]="formulario">
                <div class="ladoEmail">
                  <input
                    type="email"
                    formControlName="Email"
                    placeholder="Correo"
                  />
                  <input
                    type="password"
                    formControlName="Password"
                    placeholder="Contraseña"
                  />
                </div>
              </form>
            </div>
          </form>

          <button class="botonGuardarCambios" (click)="guardarCambios()">
            Guardar cambios <i class="bi bi-floppy-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
