.contenedor_general {
  overflow-x: hidden;
}

.contenedor_superior {
  background: linear-gradient(270deg, #1985ce 0%, #0d5eaf 100%);
  width: 100%;
  height: calc(474px * 0.7);
  position: relative;
}

.imagen_doctores {
  width: calc(570px * 0.7);
  height: calc(400px * 0.7);
  left: -7px;
  position: absolute;
  top: 52px;
}

.titulo1 {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  right: 50px;
  top: 30px;
}

.titulo2 {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  right: 50px;
  top: 55px;
}

.contenedor_buscador {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: calc(938px * 0.7);
  height: calc(168px * 0.7);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: rgba(117, 193, 235, 0.2);
  align-items: center;
  padding: 0 1rem;
}

.contenedor_buscador select {
  width: calc(328px * 0.7);
  height: calc(91px * 0.7);
  font-family: Poppins;
  border-radius: 5px;
  border: none;
  outline: none;
}

.contenedor_buscador button {
  width: calc(161px * 0.7);
  height: calc(91px * 0.7);
  font-family: Poppins;
  font-size: 1.3rem;
  border-radius: 5px;
  background: #8cdf90;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all ease 0.5s;
}

.contenedor_buscador button:hover {
  background: #75c1eb;
  border: 1px white solid;
}

.contenedor_inferior {
  background-color: #f4f4f4;
  width: 100%;
  padding: 1rem;
}

.card {
  width: calc(428px * 0.7);
  height: calc(469px * 0.7);
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1rem;
}

.card p {
  text-align: justify;
}

.contenidoDudas {
  display: flex;
  justify-content: space-around;
}

.retroceder {
  position: relative;
  color: white;
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
  transition: all ease 0.5s;
  display: inline-block; /* O inline, dependiendo de tus necesidades */
  margin-right: 10px; /* O el espacio que prefieras entre los iconos */
}

.retroceder:hover {
  color: #8cdf90;
  font-size: 2.5rem;
}
.icon-container {
  margin-bottom: 10px;
}
* {
  padding: 0;
  margin: 0;
}
