<div class="contenedorGeneral">
    <div class="header">
        <div class="buscador">
            <select name="" id="especialidad">
                <option value="">Especialidad</option>
            </select>
            <select name="" id="estado">
                <option value="">Estado</option>
            </select>
            <button><i class="bi bi-search"></i> Buscar</button>
        </div>
        <img src="https://www.pngkey.com/png/full/72-729716_user-avatar-png-graphic-free-download-icon.png"
            alt="Foto de perfil del usuario" class="fotoPerfil" routerLink="/configuracion-cuenta">
    </div>
    <div class="contenido">
        <div class="contenedorEspecialistas">
            <div class="cardEspecialista" routerLink="/info-especialistas">
                <div class="contenidoIzquierdo">
                    <img src="https://th.bing.com/th/id/R.38a97584203045e61fda84c2f9d968b8?rik=Bz%2bfLbjOe%2bxKmw&pid=ImgRaw&r=0"
                        class="fotoEspecialista">
                    <div class="textos">
                        <h1 class="nombreEspecialista">John 117</h1>
                        <h2 class="nombreEspecialidad">Jefe Maestro de la UNSC</h2>
                    </div>

                </div>
                <div class="contenidoDerecho">
                    <p class="direccion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minus eaque,
                        debitis corrupti dicta harum reiciendis beatae molestias ea libero fuga voluptatibus quo
                        doloremque excepturi animi. Dolores eligendi adipisci veniam!</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="399" height="59" viewBox="0 0 399 59" fill="none" class="contenedorBarra">
                        <g filter="url(#filter0_d_17_118)">
                            <path
                                d="M33.0128 6.19845C33.9428 4.82367 35.4944 4 37.1542 4H389.5C392.261 4 394.5 6.23858 394.5 9V50C394.5 52.7614 392.261 55 389.5 55H9.41895C5.41015 55 3.03135 50.5189 5.27752 47.1985L33.0128 6.19845Z"
                                fill="white" />
                        </g>
                        <defs>
                            <filter id="filter0_d_17_118" x="0.4104" y="0" width="398.09" height="59"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feOffset />
                                <feGaussianBlur stdDeviation="2" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_17_118" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_17_118"
                                    result="shape" />
                            </filter>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="cardEspecialista">
                <div class="contenidoIzquierdo">
                    <img src="https://th.bing.com/th/id/R.38a97584203045e61fda84c2f9d968b8?rik=Bz%2bfLbjOe%2bxKmw&pid=ImgRaw&r=0"
                        class="fotoEspecialista">
                    <div class="textos">
                        <h1 class="nombreEspecialista">John 117</h1>
                        <h2 class="nombreEspecialidad">Jefe Maestro de la UNSC</h2>
                    </div>

                </div>
                <div class="contenidoDerecho">
                    <p class="direccion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minus eaque,
                        debitis corrupti dicta harum reiciendis beatae molestias ea libero fuga voluptatibus quo
                        doloremque excepturi animi. Dolores eligendi adipisci veniam!</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="399" height="59" viewBox="0 0 399 59" fill="none" class="contenedorBarra">
                        <g filter="url(#filter0_d_17_118)">
                            <path
                                d="M33.0128 6.19845C33.9428 4.82367 35.4944 4 37.1542 4H389.5C392.261 4 394.5 6.23858 394.5 9V50C394.5 52.7614 392.261 55 389.5 55H9.41895C5.41015 55 3.03135 50.5189 5.27752 47.1985L33.0128 6.19845Z"
                                fill="white" />
                        </g>
                        <defs>
                            <filter id="filter0_d_17_118" x="0.4104" y="0" width="398.09" height="59"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feOffset />
                                <feGaussianBlur stdDeviation="2" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_17_118" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_17_118"
                                    result="shape" />
                            </filter>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="cardEspecialista">
                <div class="contenidoIzquierdo">
                    <img src="https://th.bing.com/th/id/R.38a97584203045e61fda84c2f9d968b8?rik=Bz%2bfLbjOe%2bxKmw&pid=ImgRaw&r=0"
                        class="fotoEspecialista">
                    <div class="textos">
                        <h1 class="nombreEspecialista">John 117</h1>
                        <h2 class="nombreEspecialidad">Jefe Maestro de la UNSC</h2>
                    </div>

                </div>
                <div class="contenidoDerecho">
                    <p class="direccion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minus eaque,
                        debitis corrupti dicta harum reiciendis beatae molestias ea libero fuga voluptatibus quo
                        doloremque excepturi animi. Dolores eligendi adipisci veniam!</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="399" height="59" viewBox="0 0 399 59" fill="none" class="contenedorBarra">
                        <g filter="url(#filter0_d_17_118)">
                            <path
                                d="M33.0128 6.19845C33.9428 4.82367 35.4944 4 37.1542 4H389.5C392.261 4 394.5 6.23858 394.5 9V50C394.5 52.7614 392.261 55 389.5 55H9.41895C5.41015 55 3.03135 50.5189 5.27752 47.1985L33.0128 6.19845Z"
                                fill="white" />
                        </g>
                        <defs>
                            <filter id="filter0_d_17_118" x="0.4104" y="0" width="398.09" height="59"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feOffset />
                                <feGaussianBlur stdDeviation="2" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_17_118" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_17_118"
                                    result="shape" />
                            </filter>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="cardEspecialista">
                <div class="contenidoIzquierdo">
                    <img src="https://th.bing.com/th/id/R.38a97584203045e61fda84c2f9d968b8?rik=Bz%2bfLbjOe%2bxKmw&pid=ImgRaw&r=0"
                        class="fotoEspecialista">
                    <div class="textos">
                        <h1 class="nombreEspecialista">John 117</h1>
                        <h2 class="nombreEspecialidad">Jefe Maestro de la UNSC</h2>
                    </div>

                </div>
                <div class="contenidoDerecho">
                    <p class="direccion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minus eaque,
                        debitis corrupti dicta harum reiciendis beatae molestias ea libero fuga voluptatibus quo
                        doloremque excepturi animi. Dolores eligendi adipisci veniam!</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="399" height="59" viewBox="0 0 399 59" fill="none" class="contenedorBarra">
                        <g filter="url(#filter0_d_17_118)">
                            <path
                                d="M33.0128 6.19845C33.9428 4.82367 35.4944 4 37.1542 4H389.5C392.261 4 394.5 6.23858 394.5 9V50C394.5 52.7614 392.261 55 389.5 55H9.41895C5.41015 55 3.03135 50.5189 5.27752 47.1985L33.0128 6.19845Z"
                                fill="white" />
                        </g>
                        <defs>
                            <filter id="filter0_d_17_118" x="0.4104" y="0" width="398.09" height="59"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feOffset />
                                <feGaussianBlur stdDeviation="2" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_17_118" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_17_118"
                                    result="shape" />
                            </filter>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="cardEspecialista">
                <div class="contenidoIzquierdo">
                    <img src="https://th.bing.com/th/id/R.38a97584203045e61fda84c2f9d968b8?rik=Bz%2bfLbjOe%2bxKmw&pid=ImgRaw&r=0"
                        class="fotoEspecialista">
                    <div class="textos">
                        <h1 class="nombreEspecialista">John 117</h1>
                        <h2 class="nombreEspecialidad">Jefe Maestro de la UNSC</h2>
                    </div>

                </div>
                <div class="contenidoDerecho">
                    <p class="direccion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minus eaque,
                        debitis corrupti dicta harum reiciendis beatae molestias ea libero fuga voluptatibus quo
                        doloremque excepturi animi. Dolores eligendi adipisci veniam!</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="399" height="59" viewBox="0 0 399 59" fill="none" class="contenedorBarra">
                        <g filter="url(#filter0_d_17_118)">
                            <path
                                d="M33.0128 6.19845C33.9428 4.82367 35.4944 4 37.1542 4H389.5C392.261 4 394.5 6.23858 394.5 9V50C394.5 52.7614 392.261 55 389.5 55H9.41895C5.41015 55 3.03135 50.5189 5.27752 47.1985L33.0128 6.19845Z"
                                fill="white" />
                        </g>
                        <defs>
                            <filter id="filter0_d_17_118" x="0.4104" y="0" width="398.09" height="59"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feOffset />
                                <feGaussianBlur stdDeviation="2" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_17_118" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_17_118"
                                    result="shape" />
                            </filter>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>