.header {
  background: linear-gradient(270deg, #1985ce 9.03%, #0d5eaf 100%);
  width: 100%;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.buscador {
  display: grid;
  grid-template-columns: 40% auto auto;
  width: calc(665px * 0.7);
  height: 60px;
  align-items: center;
  background-color: #1985ce;
  border-radius: 5px;
  background: rgba(117, 193, 235, 0.3);
  padding: 0 5px;
  margin-left: 1rem;
  gap: 5px;
}

.buscador select {
  width: 100%;
  font-family: Poppins;
  border: none;
  border-radius: 5px;
  height: 60%;
}

.buscador button {
  border-radius: 5px;
  background: #8cdf90;
  font-family: Poppins;
  height: 60%;
  border: none;
  color: white;
  cursor: pointer;
  transition: all ease 0.2s;
}

.buscador button:hover {
  background-color: #1985ce;
  border: 1px white solid;
}

.fotoPerfil {
  width: 60px;
  margin-right: 1rem;
  cursor: pointer;
  transition: all ease 0.2s;
}

.fotoPerfil:hover {
  width: 65px;
}

.contenedorEspecialistas {
  margin-top: 3rem;
  background-color: white;
  border: 5px;
  width: 90%;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}

.contenido {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenidoIzquierdo {
  display: flex;
}

.fotoEspecialista {
  width: 100px;
  border-radius: 50%;
  height: 100px;
}

.nombreEspecialista {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nombreEspecialidad {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardEspecialista {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
}

.textos {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.contenidoDerecho {
  position: relative;
}

.direccion {
  font-size: 10px;
  background-color: #e2e2e2;
  border-radius: 5px;
  padding: 5px;
  text-align: justify;
}

.contenedorBarra {
  position: absolute;
  right: 0;
}

.cardEspecialista {
  cursor: pointer;
}
