<div class="header">
  <i class="bi bi-house-door-fill retroceder" routerLink="/home">inicio</i>
  <h1 class="nombreApp">Consultas medicas</h1>
</div>

<div class="contenido">
  <div class="separar">
    <div class="izquierdo">
      <div class="contenedorInformacionBasica">
        <h1 class="textoInformacionBasica">Información básica de la cuenta</h1>
        <div class="contenedor1">
          <img
            src="https://www.pngkey.com/png/full/72-729716_user-avatar-png-graphic-free-download-icon.png"
            class="fotoPerfil"
          />
          <div>
            <h1>{{ userData.nombre }} {{ userData.apellido }}</h1>
            <h2>{{ userData.email }}</h2>
            <h5 class="pildora">{{ userData.rol.nombreRol }}</h5>
          </div>
        </div>
      </div>

      <div class="menuNavegacion">
        <h1>Menú de navegación</h1>
        <div class="botones">
          <button>Configuración de la cuenta</button>
          <button routerLink="/Mis-citas">Mis citas</button>
        </div>
        <br />
      </div>

      <button class="botonCerrarSesion" (click)="cerrarsesion()">
        Cerrar sesión <i class="bi bi-door-open"></i>
      </button>
    </div>
    <div class="derecho">
      <div class="contenedorConfiguracionCuenta">
        <h1>Configuración de la cuenta</h1>
        <h3>Los campos que son totalmente requeridos están marcados con *</h3>
        <form [formGroup]="formulario" (ngSubmit)="guardarCambios()">
          <div class="form1">
            <h1>Nombre:</h1>
            <input type="text" formControlName="Nombre" />
          </div>
          <div class="form1">
            <h1>Apellido:</h1>
            <input type="text" formControlName="Apellido" />
          </div>

          <div class="separador">
            <form
              [formGroup]="formularioTablaPaciente"
              (ngSubmit)="guardarCambios()"
            >
              <div class="ladoNumero">
                <h1>Telefono:</h1>

                <input
                  type="text"
                  formControlName="Telefono"
                  placeholder="Número telefónico"
                />
              </div>
              <div class="ladoEmail">
                <input
                  type="email"
                  formControlName="Email"
                  placeholder="Correo"
                />
                <input
                  type="password"
                  formControlName="Password"
                  placeholder="Contraseña"
                />

                <!-- Agregar el select para el género -->
                <h3>Genero:</h3>
                <select formControlName="Genero">
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                  <option value="Otro">Otro</option>
                </select>
              </div>
            </form>
          </div>

          <button
            type="submit"
            [disabled]="!formulario.valid"
            class="botonGuardarCambios"
          >
            Guardar cambios <i class="bi bi-floppy-fill"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
