<div class="header">
    <i class="bi bi-arrow-left-circle-fill retroceder"></i>
    <h1 class="nombreApp">Consultas medicas</h1>
</div>

<div class="contenido">
    <div class="separar">
        <div class="izquierdo">
            <div class="contenedorInformacionBasica">
                <h1 class="textoInformacionBasica">Información básica de la cuenta</h1>
                <div class="contenedor1">
                    <img src="https://wallpapercave.com/wp/wp2740020.jpg" class="fotoPerfil">
                    <div>
                        <h1>Nombre completo</h1>
                        <h2>correogmail.com</h2>
                    </div>
                </div>
            </div>

            <div class="menuNavegacion">
                <h1>Menú de navegación</h1>
                <div class="botones">
                    <button>Configuración de la cuenta</button>
                    <button>Mis citas</button>
                </div>
                <br>
            </div>

            <button class="botonCerrarSesion">Cerrar sesión <i class="bi bi-door-open"></i></button>
        </div>
        <div class="derecho">
            <div class="contenedorConfiguracionCuenta">
                <h1>Configuración de la cuenta</h1>
                <h3>Los campos que son totalmente requeridos estan marcados con *</h3>
                <div class="form1">
                    <h1>Nombre:</h1>
                    <input type="text">
                </div>
                <div class="form1">
                    <h1>Apellido:</h1>
                    <input type="text">
                </div>

                <div class="separador">
                    <div class="ladoNumero">
                        <input type="text" placeholder="Número telefonico">
                    </div>
                    <div class="ladoEmail">
                        <input type="email" placeholder="Correo">
                        <input type="password" placeholder="Contraseña">
                    </div>
                </div>
                <button class="botonGuardarCambios">Guardar cambios <i class="bi bi-floppy-fill"></i></button>
            </div>
        </div>
    </div>
</div>